<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>netflix</title>
    <link rel="stylesheet" href="netflix.css">
</head>
<body >
    <div style="background-color: rgba(0, 0, 0,0.8)">
        <p>.</p>
<div style="display: flex; margin-top: 10px;">
    <div style="color: red ; font-size: 40px; margin-right: 850px; margin-left: 30px; "><b>NETFLIX</b></div>
   <div> <select style="background-color: black; color: white; width: 120px; padding:5px 10px 5px 10px" name="English">
        <option value="English">&A &nbsp;&nbsp; English</option>
        <option   value="Hindi">Hindi</option>
    </select></div>
 <div>   <a style=" background-color: red; text-decoration: none; color: white; width: 80px; border-radius: 10px; padding:  6px  10px 6px 10px; margin-left: 30px ; " href="signin.html">Sign in</a></div>
</div>
<div style="color: white; text-decoration: none; margin-top: 150px;">
<center>
<div style="font-size: 60px; color: white;">The biggest Indian hits. Ready to watch<br> here from ₹ 149. </div><br>
<div style="font-size: 30px;">Join today. Cancel anytime.</div><br>
<div style="font-size: 20px;" >Ready to watch? Enter your email to create or restart your membership.</div><br><br>
<input  style="width: 300px;background-color:rgba(31, 28, 28, 0.8); font-size: 14px; padding: 8px; color: white ; " "Email" placeholder="Email Address">

<a style="font-size: 25px; background-color: red; width: 200px; color:  white; border-radius: 4px; padding: 4px 30px 4px 5px; text-decoration: none;" href="#"> Get Started >  </a>

</center></div>
<p style="text-align: end; margin-top: 60px;" >An</p>
</div>
<!-- ------------------------------season 1 end ================================= -->

<!-- ===========================season2 start============================= -->
<div style="background-color: black; color: white; display: flex; ">
    .
    <div style="margin-top: 120px; margin-left: 150px;">
    <div style="font-size: 60px;">Enjoy on your TV</div><br>
    <div style="font-size: 25px;">Watch on smart TVs, PlayStation, Xbox,<br> Chromecast, Apple TV, Blu-ray players and<br> more.</div>
    </div>
    <div style="margin-bottom: 40px;">
    <img style="width: 600px;" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"> 
    </div>
</div>
<div style="background-color: rgb(64, 60, 60);">.</div>
<!-- ===========================season 2 end===================== -->

<!-- =============================season3 start=================== -->
<div style="background-color: black; display: flex;" >
'
   <div style="  margin-left: 100px; margin-bottom: 100px;">
       <img style="width: 500px;"  src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg">
    </div>
        <div style="color: white; margin-bottom: 100px; margin-top: 100px; margin-left: 50px;">
            <div  style="font-size: 60px;">Download your<br> shows to watch<br> offline</div>
            <div style="font-size: 25px;">Save your favourites easily and always have  <br>something to watch.</div>
        </div>
</div>
<div style="background-color: rgb(43, 41, 41);">.</div>
        <!-- ===========================season3 end============================= -->
        <!-- =============================season4 start============================= -->
<div style="background-color: black; color: white; display: flex;">
.
     <div style="margin-top: 150px; margin-left: 150px;">
               <div style="font-size: 60px;">Watch everywhere</div>
              <div style="font-size: 25px;" >Stream unlimited movies and TV shows on your<br> phone, tablet, laptop, and TV.</div>
      </div>
    <div>  
        <img style="width: 500px; margin-top: 90px; margin-bottom: 50px;" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png">
    </div>

</div>
<div style="background-color: rgb(43, 41, 41);">.</div>

<!--  ======================== season4 end ============================ -->
<!-- ==========================season 5 start============================ -->
<div style="background-color: black; color: white;">
<div style="font-size: 60px; text-align: center;">
    Frequently Asked Questions
</div>



</div>
<div style="background-color: rgb(43, 41, 41);">.</div>
<!--==========================season5 end============================ -->
<!-- ===========================season6 start====================== -->

<div style="background-color: black; color: white;  ">
.
          <div style="margin-left:150PX ; margin-top: 60px;"> Questions? Call 000-800-919-1694</div><br>
     <div style="display: flex;  text-align: center;">
          <a   style="color: rgb(248, 247, 247); margin-right: 150px; margin-left: 150px;" href="#">FAQ</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a   style="color: rgb(248, 247, 247); margin-right: 150px;"   href="#">Help center</a>
          &nbsp;&nbsp;&nbsp;<a   style="color: rgb(248, 247, 247); margin-right: 150px;"   href="#"> Account</a>
          <a   style="color: rgb(248, 247, 247); margin-right: 150PX;"   href="#"> Media center</a>
     </div><br>
    
     <div style="display: flex;  text-align: center;">
        <a   style="color: rgb(248, 247, 247); margin-right: 150px; margin-left: 150px;" href="#">Investor relation</a>
        <a   style="color: rgb(248, 247, 247); margin-right: 100px;"   href="#">Jobs</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a   style="color: rgb(248, 247, 247); margin-right: 120px;"   href="#"> Ways to watch</a>
        <a   style="color: rgb(248, 247, 247); margin-right: 150PX;"   href="#"> term of use</a>
   </div><br>

   <div style="display: flex;  text-align: center;">
    <a   style="color: rgb(248, 247, 247); margin-right: 150px; margin-left: 150px;" href="#">privacy</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a   style="color: rgb(248, 247, 247); margin-right: 110px;"   href="#">Cookie preference</a>
    <a   style="color: rgb(248, 247, 247); margin-right: 90px;"   href="#"> coaprate Information</a>
    <a   style="color: rgb(248, 247, 247); margin-right: 150PX;"   href="#">Contact us</a>
</div><br>

<div style="display: flex;  text-align: center; margin-bottom: 50px;">
    <a   style="color: rgb(248, 247, 247); margin-right: 150px; margin-left: 150px;" href="#">Speed test</a>
    <a   style="color: rgb(248, 247, 247); margin-right: 150px;"   href="#">Legal Notice</a>
    <a   style="color: rgb(248, 247, 247); margin-right: 150px;"   href="#">Only on Netflix</a>
</div>
<div > <select style="background-color: black; color: white; width: 120px; margin-left: 150px; padding:5px 10px 5px 10px" name="English">
    <option value="English">&A &nbsp;&nbsp; English</option>
    <option   value="Hindi">Hindi</option>
</select></div>
<br>
<div style="margin-left: 150px;">Netflix India</div><br><br>
</div>
<!-- ===================season 6 end========================-->
</body>
</html>